<% provide(:title, 'Contact') %>
    <h1>Contact</h1>
    <p>
      This is one of the first of many projects by <a href="http://twitter.com/jaronheard" target="_blank">@jaronheard</a>. Contact Ruby on Rails Tutorial about the sample app at the <a href="http://railstutorial.org/contact">contact page</a>.
    </p>